.player {
    border: none;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    color: white;
    
    border-radius: 10px;

    .flyingSvg {
        position: absolute;
        width: 50px; 
        opacity: 1;
        pointer-events: none;  
        animation: flyAndFade 2s forwards;
    
        &.direction1 {
            animation-name: flyAndFade1;
        }
    
        &.direction2 {
            animation-name: flyAndFade2;
        }

        &.direction3 {
            animation-name: flyAndFade3;
        }

        @keyframes flyAndFade1 {
            100% {
                transform: translate(100px, 50px);
                opacity: 0;
            }
        }
        
        @keyframes flyAndFade2 {
            100% {
                transform: translate(-100px, 50px);
                opacity: 0;
            }

            
        }

        @keyframes flyAndFade3 {
            100% {
                transform: translate(0px, -100px);
                opacity: 0;
            }
        }
        
    
        
    }

  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  
    button {
        padding: 10px 20px;
        margin-bottom: 20px;
        font-size: 1rem;
        color: #fff;
        background-color: #34495e;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }
    
    button:hover {
        background-color: #2c3e50;
    }
    
    button:active {
        transform: scale(0.95);
    }
    
  }

  .disabledButton {
    background-color: grey;
    cursor: not-allowed;
}
