
.controlwrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.overlayz {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
  }
  
  body {
    background-color: #35654d;
    color: white;
  }

  h1 {

    @media (max-width: 768px) {

      font-size: 1.2rem;

    

    }
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .controls {
    
      padding: 10px;
      margin-right: 10px;
      margin-top: 20px;
      font-size: 1rem;
      color: #fff;
      background-color: #429ffd;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;

      @media (max-width: 768px) {

        margin-top: 0px;
        font-size: 0.8rem;

      
  
      }
  }
  
  
  .controls:hover {
      background-color: #2c3e50;
  }
  
  .controls:active {
      transform: scale(0.95);
  }
  
  